body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("New folder/top-banner.png");
 
    background-repeat: no-repeat; 
    
}
h1{
    font-size:50px;
}
.orange{
    color: orange;
    font-weight: 700 ;
}
.about-me{
    color: rgba(100, 99, 99, 0.699);
    text-align: justify;
    

}
.hireme_btn{

background-image: linear-gradient(#f39c12,#e74c3c);
text-decoration: none;
padding: 10px 30px;
border-radius: 10px;
text-transform: uppercase;
color: white;

}
.container{
  
    display: flex; 
    margin-left: 50px;
}

.first-half{
    
    width: 50%;
}


.first-half img{
    width:80%   ;
    
    

}
.fleible_container{

  height: 500px;
 margin-bottom: 150px;
 display: flex; 
            
   
}
.container_area div{

    
    height: 80%;
}
#web_developer{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;


 }
 #web_developer_baby{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;

 }
 .expier{
margin: 30px 30px 30px ;
box-shadow: 5px 7px 40px gray;
padding: 10px 10px 10px 10px;
 }
 h2{
    font-size: 40px;

}

footer{
    text-align: center;
    color: rgba(100, 99, 99, 0.699);
}
    
